# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

# CSS/SCSS files
[*.{css,scss}]
indent_style = space
indent_size = 2

# Astro, JS/TS, JSON files
[*.{astro,js,ts,jsx,tsx,json}]
indent_style = tab
indent_size = 4

# Markdown files
[*.md]
trim_trailing_whitespace = false

# YAML files
[*.{yml,yaml}]
indent_style = space
indent_size = 2
